@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "GowunDodum-Regular";
}
@media (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* background-color: #f5cb90; */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../workplace.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home {
  display: flex;
  height: 100%;
}

#home {
  visibility: hidden;
}

.home > span {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 3rem;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px 10px #000;
  font-weight: bolder;
}
