body {
  font-family: "Noto Sans KR", sans-serif !important;
}
.navbar-brand {
  margin-left: 1rem;
}
.dropdown-menu {
  left: -150% !important;
  .dropdown-item {
    display: flex !important;
    justify-content: center;
  }
}

.mainContainer {
  position: relative;
  height: 90vh;
  p {
    display: block;
    visibility: hidden;
    transition: all 1s;
    opacity: 0;
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 3px 3px 15px black;
    color: white;
    z-index: 2;
    text-align: center;
  }
  img {
    display: flex;
    filter: brightness(60%);
    height: 90vh;
    width: 100%;
    margin: auto;
    opacity: 0.7;
    transition: all 2s;
    object-fit: cover;
  }
  h1 {
    &#Title {
      display: flex;
      justify-content: center;
      top: 50%;
      left: 50%;
      font-size: 3rem;
      font-weight: 300;
      padding: 1em 0 1em 0;
    }
  }
}
