@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GowunDodum-Regular";
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5cb90;
}
