@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "GowunDodum-Regular";
}
@media (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: #f5cb90; */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("workplace.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mainNav {
  display: flex;
  height: 6rem;
  background: whitesmoke;
  justify-content: end;
  padding: 0 1rem 0 1rem;
}

.mainNav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: end;
}

.mainNav > ul > li {
  margin-left: 1rem;
}

.mainNav > ul > li > a {
  text-decoration: none;
  color: black;
}

.home {
  display: flex;
  height: 100%;
}

.home > span {
  display: flex;
  margin: auto;
  padding: 3rem;
  font-size: 8rem;
  color: white;
  text-shadow: 2px 2px 10px #000;
  font-weight: bolder;
}

.mainFooter {
  display: flex;
  height: 6rem;
  background: whitesmoke;
  padding: 0 1rem 0 1rem;
  justify-content: end;
}

.mainFooter > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: end;
}

.mainFooter > ul > li {
  margin-left: auto;
}

.mainFooter > ul > li > a {
  text-decoration: none;
  color: gray;
}
