.mainNav {
  display: flex;
  background: whitesmoke;
  justify-content: end;
  width: 100%;
  position: fixed;
  top: 0%;
  height: 0;
  transition: ease 1s;
  visibility: hidden;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
    margin: auto 0 auto 0;
  }
  li {
    margin-left: auto;
    padding: 0 2rem 0 1rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    color: #ffb751;
  }
  
}

#mainNavFont {
  visibility: hidden;
  transition: ease 1s;
  opacity: 0;
}
